{% extends 'base.html' %}
{% block main %}

	<section class="companies-info">
			<div class="container">
				<div class="company-title">
					<h3>Suggested Friends</h3>
				</div><!--company-title end-->
				<div class="companies-list">
					<div class="row">

						{% for idn,name in friendNames.items() %}
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>{{name[:-1]}}</h3>
									<h4>{{name[-1]}} degree friend</h4>
									<ul>
										<li><a href="../sendrequest/{{idn}}" title="" class="follow">Send Request</a></li>


									</ul>
								</div>
								<a href="../profile/{{idn}}" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						{% endfor %}
					</div>
				</div><!--companies-list end-->

			</div>
		</section><!--companies-info end-->

{% endblock %}